.row{
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    padding: 20px;
}

div{
    text-align: center;
}

/*Etiqueta Nombre*/
#nombre{
    font-weight: bold;
    margin-top: 40%;
    font-size: 27px;
}
/*Etiqueta FSDJr.*/
#FSDJr{
    font-weight: bold;
    font-size: 17px;
}

/*Estilo de la Foto de Perfil*/
@media (max-width: 575px){
    #fotoDePerfil{
        position: absolute;
        width: 40%;   
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
        left: 27%;
        top: 26.7em;
    }

    
}
@media (min-width: 576px){
    #fotoDePerfil{
        position: absolute;
        width: 15%;   
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
        left: 3%;
        top: 57em;
    }

    .descripcion{
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}