<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/edgar-gabriel-correa-29955617b/"><img src="../../../assets/linkedin.png" alt=""></a>
            <a href="https://twitter.com/KeiZaby7"><img src="../../../assets/twitter.png" alt=""></a>
            <a href="https://www.instagram.com/keizaby7/"><img src="../../../assets/instagram.png" alt=""></a>
            <a href="https://github.com/KeiZaby7"><img src="../../../assets/github.png" alt=""></a>
            <a href="https://www.facebook.com/KeiZaby7/"><img src="../../../assets/facebook.png" alt=""></a>    
        </div>
        <div class="botonIngreso">
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
        </div>
    </div>
</div>