<div class="row">
    <h1>Proyectos Realizados</h1>
    <div><br></div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto 1</h2>
            <p>
                Este proyecto esta en Construccion.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/website-construction.jpg" class="img-fluid imgProyecto">
        </div>
    </div>
    <div><br></div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte2">
            <h2>Proyecto 2</h2>
            <p>
                Este proyecto esta en Construccion.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/website-construction.jpg" class="img-fluid imgProyecto">
        </div>
    </div>
    <div><br></div>
</div>